.product {
  max-width: 400px;
  margin-bottom: 20px;
  max-height: 400px;
}
.card__image {
  /* max-height: 310px;
  max-width: 400px; */
  max-width: 100%;
  max-height: 100%;
}
.star__color {
  color: #e1701a;
  font-size: 1rem !important;
}
.price {
  font-size: 1.5rem;
}
