.remove__btn {
  font-size: 0.4rem !important;
}
.checkout_bg {
  background-image: url("../../assets/checkout__bg.jpg");
  /* mask-image: -o-linear-gradient(); */
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  width: 100%;
  height: 100vh;
}

/* .empty__cart {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
