.side__drawer {
  width: 30%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  max-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-out;
}
.open {
  transform: translateY(0);
}

.sideDrawer__logo {
  text-align: center;
  justify-content: center;
}
.sideDrawer__logo > img {
  width: 150px;
  height: 150px;
  margin-bottom: -40px;
  margin-top: -20px;
}
.border__top {
  box-shadow: 0 -10px 10px -5px grey;
}
.border__bottom {
  box-shadow: 10px 10px 5px grey;
}
/* .side__drawer .nav__line1 {
  font-size: 1rem;
}
.side__drawer .nav__line2 {
  font-size: 1.2rem;
} */
@media (max-width: 600px) {
  .side__drawer {
    width: 40%;
  }
  .sideDrawer__logo > img {
    max-width: 150px;
    max-height: 150px;
  }
}
@media (max-width: 400px) {
  .side__drawer {
    width: 50%;
  }
  .sideDrawer__logo > img {
    max-width: 150px;
    max-height: 150px;
  }
}
@media (max-width: 291px) {
  .side__drawer {
    width: 60%;
  }
  .sideDrawer__logo > img {
    max-width: 150px;
    max-height: 150px;
  }
}
