.product {
  max-width: 400px;
  margin-bottom: 20px;
}
.card__image {
  height: auto;
  width: auto;
}
.star__color {
  color: #e1701a;
  font-size: 1rem !important;
}
.price {
  font-size: 1.5rem;
}
