.user__rating {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}
.input__starRating[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
  transition: color 200ms;
}
/* .avatar .MuiSvgIcon-root {
  width: 200px;
  height: 200px;
} */
