.top__home {
  background-color: #132c33;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin: 0;
}

@media (max-width: 800px) {
  .topHome__hidden {
    display: none !important;
  }
}

/* @media (max-width: 1120px) {
  .nav__search {
    width: 40%;
  }
  .search__Input {
    width: 90%;
  }
} */
