.user__rating {
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px grey;
}
.input__starRating[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
  transition: color 200ms;
}
.avatar .MuiSvgIcon-root {
  width: auto;
  height: auto;
}
.orange {
  color: orange;
  /* background-color: orange; */
}
